/* Overrides */
* {
    border-radius: 0 !important;
    font-family: 'Poppins', sans-serif !important;
}
/* 
body {
    background-image: url('../NCFLBldgBlacked.png');
    background-repeat: no-repeat;
    background-size: cover;
} */

.navbar {
    background-color: #139f4a !important;
}


input, span, a, button, p, div, label, textarea {
    font-size: 12px !important; 
}

input, select, a.btn, textarea {
    outline: none !important;
    box-shadow: none !important;
}

button {
    box-shadow: none !important;
}

table {
  box-shadow: none !important;
  border: none !important;
  font-size: 11px !important;
}

table thead th {
    border-top: 1px solid #dee2e6 !important;
    background-color: white !important;
    overflow: hidden;
}

table tfoot th {
    border-top: none !important;
    border-bottom: 1px solid #dee2e6 !important;
}

table thead th,
table tbody td,
table tfoot th {
  font-weight: 400 !important;
  border-right: none !important;
  border-color: #dee2e6 !important;
  vertical-align: middle;
  white-space: nowrap;
}

table tbody tr td {
    border-top: 1px solid #dee2e6 !important;
}

table tbody tr:first-child td {
    border-top: none !important;
}

table tbody tr:last-child td {
  border-bottom: 1px solid #dee2e6 !important;
}

table thead th:last-child,
table tbody td:last-child,
table tfoot th:last-child {
  border-right: 1px solid #dee2e6 !important;
}

tfoot th {
    padding: 8px !important;
}

.table-responsive::-webkit-scrollbar {
    width: 4.5px;
}

.table-responsive::-webkit-scrollbar-thumb {
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #e7e7e7;
}

.list-group-item {
    padding: 16px !important;
}

.form-text {
    font-size: 12px !important;
}

.feather-info {
    padding-right: 5px;
    width: 24px;
    height: 24px;
}

.dataTables_filter input {
    border-color: #ced4da !important;
}

.controls {
    padding-bottom: 16px;
}

.result-filter {
    width: auto;
    font-size: 11px;
}

.uploaded-files * {
    font-size: 12px !important;
    text-decoration: none;
    list-style-type: none;
}

.uploaded-files a {
    border-bottom: 1px dotted #198754;
    cursor: pointer;
}

.modal-title {
    font-size: 13px !important;
    font-weight: 600 !important;
}

.btn-invalid {
    /* background-color: #dc3545; */
    border-color: #dc3545 !important;
    /* color: white */
}

#result {
    overflow-x: auto !important;
}

#result_length,
#result_filter {
    float: none !important;
}

#uploaded_files_history_table a,
#division_list a {
    border-bottom: 1px dotted #198754;
    cursor: pointer !important;
    text-decoration: none;
}

#filters th {
    border-top: none !important;
}

#filters th:last-child {
    border-right: none !important;
}

#base_upload_btn,
#upload_btn {
    border-color: #ced4da;
}

#rejection_reason_btn {
    border-color: #ced4da;
}

#clear_filter_btn,
#export_series_btn,
#init_notif_btn {
    font-size: 12px !important;
    /* border-color: #ced4da; */
    /* margin-right: 15px; */
}

#export_series_btn {
    border-left: none;
    border-right: none;
}

#init_notif_btn {
    margin-right: 15px;
}

#series {
    width: auto;
    font-size: 12px;
}

#bg {
    height: 100vh; 
    width: 60%; 
    position: absolute; 
    top: 0; 
    right: 0;
    background-image: url('../public/images/NCFLBldgBlacked.png');
    background-size: cover;
    z-index: -1;
}

#attendance_table_loading {
    display: flex;
    align-items: center;
}

#attendance_table_loading .spinner-border {
    width: 1rem !important;
    height: 1rem !important;
    border-radius: 50% !important;
    margin-right: 10px;
}

#headline {
    color: #E0F7FA;
    font-size: 48px !important;
    font-weight: 600;
    padding-left: 100px;
}

#login_card {
    height: calc(100vh - 100px);
}
